# This is config for meetings-notifier. Copy this to
# `$XDG_CONFIG_HOME/meetings-notifier/meetings-notifier.config`.
# See project page: https://github.com/jhutar/meetings-notifier.

# Through what devices to play a sound? To list your devices:
#   pactl list short sinks
# Or:
#   pw-cli list-objects | grep node.name
# E.g.: alsa_output.pci-0000_00_1f.3-platform-skl_hda_dsp_generic.HiFi__Speaker__sink
sound_alerts:
  - sink: alsa_output.pci-0000_00_1f.3-platform-skl_hda_dsp_generic.HiFi__Speaker__sink
    modify: True
    volume: 0.3

# Sound to play as an alert
sound_file: /usr/share/sounds/alsa/Front_Center.wav
